# Node.js
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Editor directories and files
.idea
.vscode
*.swp
*.swo
